<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/OnlineFlightBookingStyle.css" />
</head>
<body>
    <div class="heading">ONLINE FLIGHT BOOKING</div>
    <div class="menu">
        @Html.ActionLink("SignUp", "SignUp", "User", null, new { @class = "link" })
        @Html.ActionLink("SearchFlight", "Search", "Home", null, new { @class = "link" })
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            if (HttpContext.Current.User.IsInRole("admin"))
            {
                @Html.ActionLink("DisplayAdmin", "Displayflight", "Flight", null, new { @class = "link" })
            }
            if (HttpContext.Current.User.IsInRole("User"))
            {
                @Html.ActionLink("TicketBook Cart", "ViewTicketBook", "User", null, new { @class = "link" })
                @Html.ActionLink(HttpContext.Current.User.Identity.Name, "userDisplay" , new { @class = "link" })
            }
            @Html.ActionLink("Logout", "LogOff", "User", null, new { @class = "link" })
        }
        else
        {
            @Html.ActionLink("SignIn", "SignIn", "User", null, new { @class = "link" })
        }

    </div>
    <div class="center">@RenderBody()</div>
</body>
</html>
