@model OnlineFlightBooking.Models.FlightTravelClassModel

@{
    ViewBag.Title = "GetClass";
}

<h2>FlightTravelClass</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table id="normal">
        @Html.HiddenFor(model => model.FlightId)
        <tr>
            <td> @Html.LabelFor(model => model.ClassId)</td>
            <td>
                @Html.DropDownList("ClassId", (IEnumerable < SelectListItem>)ViewBag.ClassId)
                @Html.ValidationMessageFor(model => model.ClassId)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.SeatCount)</td>
            <td>
                @Html.EditorFor(model => model.SeatCount)
                @Html.ValidationMessageFor(model => model.SeatCount, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SeatCost)
            </td>
            <td>
                @Html.EditorFor(model => model.SeatCost)
                @Html.ValidationMessageFor(model => model.SeatCost, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>
    <input type="submit" value="Create" />
    @Html.ActionLink("Back to List", "DisplayClass")
}



