@model OnlineFlightBooking.Models.FlightModel

@{
    ViewBag.Title = "BookTicket";
}

<h2>BookTicket</h2>
<link rel="stylesheet" href="~/Content/OnlineFlightBookingStyle.css" />
@using (Html.BeginForm("BookTicket", "User"))
{
    @Html.HiddenFor(model => model.FlightId)
<table id="TableStyle">
    <tr>
        <td>@Html.Label("Flight Id")</td>
        <td>@Html.Label("FlightName")</td>
        <td>@Html.Label("From Location")</td>
        <td>@Html.Label("ToLocation")</td>
        <td>@Html.Label("Date")</td>
        <td>@Html.Label("ArrivalTime")</td>
        <td>@Html.Label("TotalSeat")</td>
    </tr>
    <tr>
        <td>
            @Html.ValueFor(model => model.FlightId)
        </td>
        <td>
            @Html.ValueFor(model => model.FlightName)
        </td>
        <td>
            @Html.ValueFor(model => model.FromLocation)
        </td>
        <td>
            @Html.ValueFor(model => model.ToLocation)
        </td>
        <td>
            @Html.ValueFor(model => model.Date)
        </td>
        <td>
            @Html.ValueFor(model => model.ArrivalTime)
        </td>
        <td>
            @Html.ValueFor(model => model.TotalSeat)
        </td>
    </tr>
</table>
<table id="TableStyle">
    <tr>
        <th>class</th>
        <th>No of Seats</th>
        <th>Cost</th>
        <th>BookTicket</th>
    </tr>
    @foreach (OnilneFlightBooking.Entity.FlightTravelClass flightTravelClass in (List<OnilneFlightBooking.Entity.FlightTravelClass>)TempData["FlightTravelClass"])
    {
        foreach (OnilneFlightBooking.Entity.TravelClass travelClass in (List<OnilneFlightBooking.Entity.TravelClass>)TempData["TravelClass"])
        {
            <tr>
                @if (flightTravelClass.ClassId == travelClass.ClassId && Model.FlightId == flightTravelClass.FlightId)
                {
                    <td>
                        @travelClass.ClassName
                    </td>
                    <td>
                        @flightTravelClass.SeatCount
                    </td>
                    <td>
                        @flightTravelClass.SeatCost
                    </td>
                    <td>
                        @Html.ActionLink("Add To Cart And Ticket Count", "TicketCount", new { id =flightTravelClass.FlightTravelClassId})
                    </td>
                }
            </tr>
        }
    }
</table>
@Html.ActionLink("Go back to DisplayFlight", "Search", "Home")
}

