@model OnlineFlightBooking.Models.SignUpModel
@{
    ViewBag.Title = "SignUp";
}
<h2>SignUp</h2>
<h2 >@ViewBag.message</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>



@using (Html.BeginForm("SignUp", "User", FormMethod.Post))
{
    <table id="normal">
        <tr style="border-spacing:10px">
            <td>@Html.LabelFor(model => model.Name)</td>
            <td>
                @Html.TextBoxFor(model => model.Name, new {placeholder="Enter the Name", @MaxLength = 25 })
                @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "required" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Mobile)</td>
            <td>
                @Html.TextBoxFor(model => model.Mobile, new {placeholder="Enter the Mobile No", @MaxLength = 10 })
                @Html.ValidationMessageFor(Model => Model.Mobile, "", new { @class = "required" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Dob)</td>
            <td>
                @Html.TextBoxFor(model => model.Dob, new {placeholder="Enter Date Of Birth", @type = "date" })
                @Html.ValidationMessageFor(Model => Model.Dob, "", new { @class = "required" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Mail)</td>
            <td>
                @Html.TextBoxFor(model => model.Mail,new { placeholder="Enter the Mail Id"})
                @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "required" })
            </td>

        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Gender)</td>
            <td>
                @Html.RadioButtonFor(model => model.Gender, "male")Male
                @Html.RadioButtonFor(model => model.Gender, "female")Female
                @Html.ValidationMessageFor(Model => Model.Gender, "", new { @class = "required" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.UserAddress)</td>
            <td>
                @Html.TextBoxFor(model => model.UserAddress, new {placeholder="Enter the Address", @MaxLength = 50 })
            @Html.ValidationMessageFor(model => model.UserAddress, "", new { @class = "required" })
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Password)</td>
        <td>
            @Html.PasswordFor(model => model.Password, new {placeholder="Enter the Password", @MinLength = 8, @MaxLength = 12 })
            @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "required" })
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ConfirmPassword)</td>
        <td>
            @Html.PasswordFor(model => model.ConfirmPassword, new {placeholder="Reenter Password", @MinLength = 8, @MaxLength = 12 })
            @Html.ValidationMessageFor(Model => Model.ConfirmPassword, "", new { @class = "required" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.AntiForgeryToken()
            <input type="submit" value="Register" class="buttonstyle" />
        </td>
    </tr>
</table>
}

