@model OnlineFlightBooking.Models.FlightModel

@{
    ViewBag.Title = "AddFlight";
}

<h2>AddFlight</h2>

@using (Html.BeginForm("AddFlight", "Flight", FormMethod.Post))
{
    <table id="normal">
        <tr style="border-spacing:10px">
            <td>@Html.Label("FlightName")</td>
            <td>
                @Html.TextBoxFor(model => model.FlightName, new {placeholder="Enter Flight Name", @MaxLength = 25 })
                @Html.ValidationMessageFor(Model => Model.FlightName, "", new { @class = "required" })
            </td>
        </tr>
        <tr>
            <td>@Html.Label("From Location")</td>
            <td>
                @Html.TextBoxFor(model => model.FromLocation, new {placeholder="Enter From Location", @MaxLength = 10 })
                @Html.ValidationMessageFor(Model => Model.FromLocation, "", new { @class = "required" })
            </td>
        </tr>
        <tr>
            <td>@Html.Label("ToLocation")</td>
            <td>
                @Html.TextBoxFor(model => model.ToLocation,new {placeholder="Enter To Location" })
                @Html.ValidationMessageFor(Model => Model.ToLocation, "", new { @class = "required" })
            </td>
        </tr>
        <tr>
            <td>@Html.Label("ArrivalTime")</td>
            <td>
                @Html.TextBoxFor(model => model.Date,new {placeholder="Enter ArrivalTime",@type="date"})
                @Html.ValidationMessageFor(Model => Model.Date, "", new { @class = "required" })
            </td>
        </tr>
        <tr>
            <td>@Html.Label("Duration")</td>
            <td>
                @Html.EditorFor(model => model.ArrivalTime,new {placeholder="Enter Duration", @type="time"})
                @Html.ValidationMessageFor(Model => Model.ArrivalTime, "", new { @class = "required" })
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Register" />
            </td>
        </tr>
    </table>
    @Html.ActionLink("Go back to DisplayFlight", "DisplayFlight", "Flight")
}

