@model IEnumerable<OnlineFlightBooking.Models.FlightModel>
@{
    ViewBag.Title = "Displayflight";
}
<link rel="stylesheet" href="~/Content/OnlineFlightBookingStyle.css" />
<h2>AdminPage</h2>
@*<h3>@TempData["message"]</h3>*@
<a>
    @Html.ActionLink("AddFlight", "AddFlight", "Flight")
</a>

<table id="TableStyle">
    <tr>
        <th>Flight Id</th>
        <th>Flight Name</th>
        <th>FromLocation</th>
        <th>ToLocation</th>
        <th>Date</th>
        <th>ArrivalTime</th>
        <th>TotalSeat</th>
        <th>Class</th>
        <th>Modification</th>
    </tr>
    @foreach (OnlineFlightBooking.Models.FlightModel flight in Model)
    {
        <tr style="text-align:center">
            <td>@flight.FlightId</td>
            <td>@flight.FlightName</td>
            <td>@flight.FromLocation</td>
            <td>@flight.ToLocation</td>
            <td>@flight.Date.ToLongDateString()</td>
            <td>@flight.ArrivalTime.ToLongTimeString()</td>
            <td>@flight.TotalSeat</td>
            <td>
                <table>
                    <tr>
                        <th>class</th>
                        <th>Available Seats</th>
                        <th>Booked Seats</th>
                    </tr>
                    @foreach (OnilneFlightBooking.Entity.FlightTravelClass flightTravelClass in (List<OnilneFlightBooking.Entity.FlightTravelClass>)TempData["FlightTravelClass"])
                    {
                        foreach (OnilneFlightBooking.Entity.TravelClass travelClass in (List<OnilneFlightBooking.Entity.TravelClass>)TempData["TravelClass"])
                        {
                            <tr>
                                @if(flightTravelClass.ClassId==travelClass.ClassId && flight.FlightId==flightTravelClass.FlightId)
                                {
                                    <td>
                                        @travelClass.ClassName
                                    </td>
                                    <td>
                                        @flightTravelClass.SeatCount
                                    </td>
                                    <td>
                                        @flightTravelClass.SeatBooked
                                    </td>
                                }
                            </tr>
                        }
                    }
                </table>
                </td>
                <td>@Html.ActionLink("Edit", "EditFlight", new { id = flight.FlightId }) | @Html.ActionLink("Delete", "DeleteFlight", new { id = flight.FlightId })</td>
            </tr>
        }
</table>

